/* 
  Основной файл стилей проекта.
*/


/* 
  ПЕРЕМЕННЫЕ
*/


/* 
  СЕКЦИЯ: ШАПКА
*/


header.header-main-page {
  position: relative;

  padding: var(--padding-header-ld);

  background-color: var(--color-img-bg-default);
  background-image: url("../img/header/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  color: var(--color-text-secondary);
}

header.header-main-page::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-text-primary);
  opacity: var(--opacity-bg-main);
}

.header__top,
.header__offer
{
  position: relative;
  z-index: 10;
}

.header__top {
  display: flex;
  flex-direction: column-reverse;
}

.header__top a.logo {
  align-self: center;
  margin: 174px 0 35px;

  line-height: 0;
}

nav.nav-primary {
  align-self: flex-end;
}

ul.nav-primary__list {
  display: none;
  font-size: 18px;
  text-align: center;
}

a.nav-primary__link {
  font-size: 1em;
  color: inherit;
}

button.nav-primary__hamburger > div {
  width: 24px;
  height: 3px;
  background-color: var(--color-text-secondary);
}

button.nav-primary__hamburger > div:nth-child(2) {
  margin: 5px 0;
}

.header__title {
  text-align: center;
}


/* 
  СЕКЦИЯ: СЕЙЧАС В ТРЕНДЕ
*/


.trends__list,
.post-tags
{
  display: flex;
  flex-wrap: wrap;
}

.trends__list {
  gap: 4px;
}

.trends__item,
.trends__img,
.trends__title,
.trends__title-link
{
  width: 100%;
}

.trends__article {
  position: relative;

  max-height: 250px;
  height: 100%;

  font-size: 16px;
  color: var(--color-text-secondary);
}

.trends__img-wrapper {
  height: 100%;
}

.trends__img-wrapper::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: var(--color-text-primary);
  opacity: var(--opacity-bg-main);
}

.trends__img {
  display: block;
  height: 100%;
  object-fit: cover;

  background-color: var(--color-img-bg-default);
}

.post-tags {
  gap: 18px;

  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 700;
  color: var(--color-accent);
  text-transform: uppercase;
}

.post-tags__link {
  position: relative;
  color: var(--color-accent);
}

.trends__text-wrapper {
  position: absolute;
  bottom: 16px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);

  width: 90%;
  padding: 20px;

  border: 3px solid rgba(181,159,91,0.4);

  transition: padding 0.3s ease-in-out;
}

.trends__title-link {
  display: inline-block;
  color: inherit;
}


/* 
  МЕДИА-ЗАПРОСЫ
*/


@media (min-width: 641px) and (max-width: 1199px) {
  header.header-main-page {
    background-image: url("../img/header/banner-bg-tablet.jpg");
    background-position-x: left;

    padding: var(--padding-header-sd);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }

  h2 {
    font-size: 17px;
  }

  .container {
    padding: 0 35px;
  }

  /* СЕКЦИЯ: ШАПКА */
  .header__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 106px;
  }

  .header__top a.logo {
    align-self: normal;
    margin: 0;
  }

  nav.nav-primary {
    align-self: center;
  }

  .header__title {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }

  /* СЕКЦИЯ: СЕЙЧАС В ТРЕНДЕ */
  .trends__item {
    flex: 1 1 calc(50% - 4px);
  }

  .trends__text-wrapper {
    padding: 35px;
  }
}

@media (min-width: 980px) {
  h1 {
    font-size: 2.813rem;
    line-height: 4.688rem;
  }

  ul.nav-primary__list {
    display: flex;
    gap: 35px;

    font-size: 13px;
    text-transform: uppercase;
  }

  button.nav-primary__hamburger {
    display: none;
  }

  .header__title {
    max-width: 687px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 20px;
  }

  .container {
    max-width: var(--width-container-primary);
    padding: 0 15px;
    margin: 0 auto;
  }

  /* СЕКЦИЯ: ШАПКА */
  header.header-main-page {
    background-image: url("../img/header/banner-bg.jpg");
    background-position: center center;
  }

  .nav-primary a.link-underline::after {
    background-color: var(--color-text-secondary);
  }

  a.link-underline:hover::after {
    width: 100%;
  }

  /* СЕКЦИЯ: СЕЙЧАС В ТРЕНДЕ */
  .trends__article {
    max-height: none;
  }

  .trends a.link-underline::after {
    background-color: var(--color-accent);
  }

  .trends__article:hover .trends__text-wrapper {
    padding: 45px 35px 35px;
  }

  .trends__text-wrapper:hover .trends__title-link {
    color: var(--color-accent);
  }
}

@media (min-width: 1440px) {
  .trends__list {
    flex-wrap: nowrap;
  }
}