/* 
  Основной файл стилей проекта.
*/


/* 
  ПЕРЕМЕННЫЕ
*/


/* 
  СЕКЦИЯ: ШАПКА
*/


header.header-main-page {
  position: relative;

  padding: var(--padding-header-ld);

  background-color: var(--color-img-bg-default);
  background-image: url("../img/header/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  color: var(--color-text-secondary);
}

header.header-main-page::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-text-primary);
  opacity: var(--opacity-bg-main);
}

.header__top,
.header__offer
{
  position: relative;
  z-index: 10;
}

.header__top {
  display: flex;
  flex-direction: column-reverse;
}

.header__top a.logo {
  align-self: center;
  margin: 174px 0 35px;

  line-height: 0;
}

nav.nav-primary {
  align-self: flex-end;
}

ul.nav-primary__list {
  display: none;
  font-size: 18px;
  text-align: center;
}

a.nav-primary__link {
  font-size: 1em;
  color: inherit;
}

button.nav-primary__hamburger > div {
  width: 24px;
  height: 3px;
  background-color: var(--color-text-secondary);
}

button.nav-primary__hamburger > div:nth-child(2) {
  margin: 5px 0;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
}


/* 
  МЕДИА-ЗАПРОСЫ
*/


@media (min-width: 641px) and (max-width: 1199px) {
  header.header-main-page {
    background-image: url("../img/header/banner-bg-tablet.jpg");
    background-position-x: left;

    padding: var(--padding-header-sd);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }

  .container {
    padding: 0 35px;
  }

  .header__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 106px;
  }

  .header__top a.logo {
    align-self: normal;
    margin: 0;
  }

  nav.nav-primary {
    align-self: center;
  }

  .header__title {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 980px) {
  h1 {
    font-size: 2.813rem;
    line-height: 4.688rem;
  }

  ul.nav-primary__list {
    display: flex;
    gap: 35px;

    font-size: 13px;
    text-transform: uppercase;
  }

  button.nav-primary__hamburger {
    display: none;
  }

  .header__title {
    max-width: 687px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: var(--width-container-primary);
    padding: 0 15px;
    margin: 0 auto;
  }

  header.header-main-page {
    background-image: url("../img/header/banner-bg.jpg");
    background-position: center center;
  }

  a.nav-primary__link {
    position: relative;
  }

  a.nav-primary__link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0;
    height: 1px;

    background-color: var(--color-text-secondary);

    transition: width 0.3s ease-in-out;
  }

  a.nav-primary__link:hover::after {
    width: 100%;
  }
}