/* 
  Основной файл стилей проекта.
*/


/* 
  ПЕРЕМЕННЫЕ
*/


/* 
  СЕКЦИЯ: ШАПКА
*/


header.header-main-page {
  position: relative;

  padding: var(--padding-header-ld);

  background-color: var(--color-img-bg-default);
  background-image: url("../img/header/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  color: var(--color-text-secondary);
}

header.header-main-page::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-text-primary);
  opacity: var(--opacity-bg-main);
}

.header__top,
.header__offer
{
  position: relative;
  z-index: 10;
}

.header__top {
  display: flex;
  flex-direction: column-reverse;
}

.header__top a.logo {
  align-self: center;
  margin: 174px 0 35px;

  line-height: 0;
}

nav.nav-primary {
  align-self: flex-end;
}

ul.nav-primary__list {
  display: none;
  font-size: 18px;
  text-align: center;
}

a.nav-primary__link {
  font-size: 1em;
  color: inherit;
}

a.nav-primary__link:hover {
  color: var(--color-text-secondary);
}

button.nav-primary__hamburger > div {
  width: 24px;
  height: 3px;
  background-color: var(--color-text-secondary);
}

button.nav-primary__hamburger > div:nth-child(2) {
  margin: 5px 0;
}

.header__title {
  text-align: center;
}


/* 
  СЕКЦИЯ: СЕЙЧАС В ТРЕНДЕ
*/


.section-trends {
  padding-top: 64px;
}

.trends__list,
.post-tags
{
  display: flex;
  flex-wrap: wrap;
}

.trends__list {
  gap: 4px;
}

.trends__item,
.trends__img,
.trends__title,
.trends__title-link
{
  width: 100%;
}

.trends__article {
  position: relative;

  max-height: 250px;
  height: 100%;

  font-size: 16px;
  color: var(--color-text-secondary);
}

.trends__img-wrapper {
  height: 100%;
}

.trends__img-wrapper::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: var(--color-text-primary);
  opacity: var(--opacity-bg-main);
}

.trends__img {
  display: block;
  height: 100%;
  object-fit: cover;

  background-color: var(--color-img-bg-default);
}

.post-tags {
  gap: 18px;

  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 700;
  color: var(--color-accent);
  text-transform: uppercase;
}

.post-tags__link {
  position: relative;
  color: var(--color-accent);
}

.trends__text-wrapper {
  position: absolute;
  bottom: 16px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);

  width: 90%;
  padding: 20px;

  border: 3px solid rgba(181,159,91,0.4);

  transition: padding 0.3s ease-in-out;
}

.trends__title-link {
  display: inline-block;
  color: inherit;
}


/* 
  СЕКЦИЯ: ОСНОВНАЯ ЧАСТЬ ГЛАВНОЙ СТРАНИЦЫ
*/


.homepage-main .container {
  display: flex;
  flex-direction: column;
}

.sidebar__section:not(:last-child) {
  padding-bottom: 40px;
}


/* 
  КАРТОЧКИ ПОСТОВ (ОБЩИЕ СТИЛИ КАРТОЧЕК ПОСТОВ)
*/


.posts {
  color: var(--color-text-primary);
}

.posts__item--last-post-section {
  padding-bottom: 20px;
  border-bottom: 3px solid var(--color-border);
}

.posts__item--last-post-section:not(:last-child) {
  margin-bottom: 34px;
}

.posts__article {
  display: flex;
}

.posts__article--last-post-section {
  flex-direction: column;
  gap: 15px;
}

.posts__info {
  font-size: 12px;
}

.posts__info--last-post-section {
  margin: 22px 0;
}

.posts__date {
  color: var(--color-text-grey-dim);
}

.posts__author {
  margin-left: 14px;
  font-weight: 700;
}

.posts__link {
  color: inherit;
}

.posts__desc {
  font-size: 15px;
}

.posts__desc:not(:last-child) {
  margin-bottom: 15px;
}


/* 
  СЕКЦИЯ (САЙДБАР): НОВЫЕ ПОСТЫ
*/


.sidebar-section-title {
  margin-bottom: 24px;
  text-align: center;
}

.posts__item--new-post-section:not(:last-child) {
  margin-bottom: 20px;
}

.posts__article--new-post-section {
  gap: 18px;
}

.posts__info--new-post-section {
  margin-bottom: 5px;
}


/* 
  СЕКЦИЯ (САЙДБАР): ФОРМА ПОИСКА
*/


.search-form__form {
  display: flex;
}

button.search-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 13px 15px;
  background-color: var(--color-accent);
}

.search-form__btn svg {
  width: 18px;
  height: 18px;
  transition: var(--transition-default);
}


/* 
  СЕКЦИЯ (САЙДБАР): НОВОСТНАЯ РАССЫЛКА
*/


.newsletter__btn {
  width: 100%;
  margin-top: 17px;
}

.newsletter__output {
  display: block;
  font-size: 13px;
}

/* Класс будет добавлен через JS при наличии ошибки */
.newsletter__output--error {
  margin-top: 15px;
}


/* 
  СЕКЦИЯ (САЙДБАР): ТЕГИ
*/


.tags {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.tags__list {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.tags__link {
  display: block;
  padding: 8px 12px;
  border: 3px solid var(--color-border);

  font-size: 1em;
  color: inherit;
}


/* 
  СЕКЦИЯ (САЙДБАР): ТЕМЫ
*/


.topics {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.topics__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.topics__item {
  border-bottom: 1px solid var(--color-border);
}

.topics__link {
  display: inline-block;
  padding: 10px 0 12px;

  font-size: 1em;
  color: inherit;
}

.topics__count {
  font-size: 12px;
  color: var(--color-accent);
}


/* 
  СЕКЦИЯ: НАШИ ИЗДЕЛИЯ
*/


.goods__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 27px;
}

.goods__item {
  width: 100%;
}

.goods__img-wrapper,
.goods__text-wrapper
{
  position: relative;
}

.goods__img-wrapper {
  z-index: 1;

  display: flex;
  justify-content: center;

  margin-bottom: -30px;
}

.goods__text-wrapper {
  z-index: 2;

  padding: 45px 20px 20px;
  border: 3px solid rgba(181,159,91,0.6);

  font-size: 16px;
}

.goods__desc {
  margin: 8px 0 20px;
  font-size: 0.938em;
}

.goods__desc a {
  color: var(--color-accent);
}

.goods__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.goods__price-wrapper {
  padding-right: 15px;
}

.goods__price {
  font-size: 1.25em;
  font-weight: 700;
}

.goods__price--old {
  margin-bottom: -0.25em;
  font-size: 0.875em;
  text-decoration: line-through;
}


/* 
  СЕКЦИЯ: ФУТЕР
*/


.footer {
  padding-bottom: 40px;
}

.social-media {
  background-color: var(--color-bg-grey);
  padding: 32px;
}

.social-media__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.social-media__link {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.social-media__icon {
  width: inherit;
  height: inherit;
  transition: var(--transition-default);
}

.social-media__link:focus .social-media__icon {
  fill: var(--color-accent);
}

.footer__copy {
  margin-top: 40px;
  
  font-size: 12px;
  font-weight: 700;
  color: var(--color-text-grey-muted);
  text-align: center;
}


/* 
  МЕДИА-ЗАПРОСЫ
*/


@media (min-width: 381px) and (max-width: 767px) {
  /* КАРТОЧКИ ПОСТОВ (ОБЩИЕ СТИЛИ КАРТОЧЕК ПОСТОВ) */
  .posts__list--last-post-section {
    max-width: 381px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  /* КАРТОЧКИ ПОСТОВ (ОБЩИЕ СТИЛИ КАРТОЧЕК ПОСТОВ) */
  .posts__img--last-post-section {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  header.header-main-page {
    background-image: url("../img/header/banner-bg-tablet.jpg");
    background-position-x: left;

    padding: var(--padding-header-sd);
  }
}

@media (max-width: 679px) {
  /* СЕКЦИЯ: НАШИ ИЗДЕЛИЯ */
  .goods__list {
    justify-content: center;
  }

  .goods__item {
    max-width: 460px;
  }
}

@media (min-width: 680px) {
  /* СЕКЦИЯ: НАШИ ИЗДЕЛИЯ */
  .goods__text-wrapper {
    min-height: 267px;
  }
}

@media (min-width: 680px) and (max-width: 1199px) {
  /* СЕКЦИЯ: НАШИ ИЗДЕЛИЯ */
  .goods__item {
      flex: 0 1 calc(50% - 14px);
  }
}

@media (max-width: 767px) {
  /* СЕКЦИЯ: ОСНОВНАЯ ЧАСТЬ ГЛАВНОЙ СТРАНИЦЫ */
  .section-last-posts {
    padding-bottom: 64px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }

  h2 {
    font-size: 17px;
  }

  .container {
    padding: 0 35px;
  }

  /* СЕКЦИЯ: ШАПКА */
  .header__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 106px;
  }

  .header__top a.logo {
    align-self: normal;
    margin: 0;
  }

  nav.nav-primary {
    align-self: center;
  }

  .header__title {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }

  /* СЕКЦИЯ: СЕЙЧАС В ТРЕНДЕ */
  .trends__item {
    flex: 1 1 calc(50% - 4px);
  }

  .trends__text-wrapper {
    padding: 35px;
  }

  /* СЕКЦИЯ: ОСНОВНАЯ ЧАСТЬ ГЛАВНОЙ СТРАНИЦЫ */
  .homepage-main .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
  }

  .section-last-posts {
    max-width: 392px;
    width: 100%;
  }

  .homepage-main .sidebar {
    max-width: 270px;
    width: 100%;
  }

  /* КАРТОЧКИ ПОСТОВ (ОБЩИЕ СТИЛИ КАРТОЧЕК ПОСТОВ) */
  .posts__item--last-post-section:not(:last-child) {
    margin-bottom: 40px;
  }

  .posts__info--last-post-section {
    margin: 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* КАРТОЧКИ ПОСТОВ (ОБЩИЕ СТИЛИ КАРТОЧЕК ПОСТОВ) */
  .posts__item--last-post-section:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

@media (min-width: 980px) {
  h1 {
    font-size: 2.813rem;
    line-height: 4.688rem;
  }

  ul.nav-primary__list {
    display: flex;
    gap: 35px;

    font-size: 13px;
    text-transform: uppercase;
  }

  button.nav-primary__hamburger {
    display: none;
  }

  .header__title {
    max-width: 687px;
  }
}

@media (min-width: 1024px) {
  /* СЕКЦИЯ: ПОСЛЕДНИЕ ПОСТЫ */
  .section-last-posts {
    max-width: 773px;
  }

  /* КАРТОЧКИ ПОСТОВ (ОБЩИЕ СТИЛИ КАРТОЧЕК ПОСТОВ) */
  .posts__article--last-post-section {
    flex-direction: row;
    gap: 30px;
  }

  /* СЕКЦИЯ: НАШИ ИЗДЕЛИЯ */
  .goods__list {
    flex-wrap: nowrap;
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 20px;
  }

  .container {
    max-width: var(--width-container-primary);
    padding: 0 15px;
    margin: 0 auto;
  }

  .btn:hover {
    background: var(--color-text-primary);
  }

  /* СЕКЦИЯ: ШАПКА */
  header.header-main-page {
    background-image: url("../img/header/banner-bg.jpg");
    background-position: center center;
  }

  .nav-primary a.link-underline::after {
    background-color: var(--color-text-secondary);
  }

  a.link-underline:hover::after {
    width: 100%;
  }

  /* СЕКЦИЯ: СЕЙЧАС В ТРЕНДЕ */
  .trends__article {
    max-height: none;
  }

  .trends a.link-underline::after,
  .posts a.link-underline::after
  {
    background-color: var(--color-accent);
  }

  .trends__article:hover .trends__text-wrapper {
    padding: 45px 35px 35px;
  }

  .trends__text-wrapper:hover .trends__title-link {
    color: var(--color-accent);
  }

  /* СЕКЦИЯ: ОСНОВНАЯ ЧАСТЬ ГЛАВНОЙ СТРАНИЦЫ */
  .sidebar__section:not(:last-child) {
    padding-bottom: 60px;
  }

  /* КАРТОЧКИ ПОСТОВ (ОБЩИЕ СТИЛИ КАРТОЧЕК ПОСТОВ) */
  .posts__item--last-post-section {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .posts__item--last-post-section:not(:last-child) {
    margin-bottom: 60px;
  }

  .posts__info--last-post-section {
    margin: 35px 0 50px;
  }

  a:hover {
    color: var(--color-accent);
  }

  /* СЕКЦИЯ (САЙДБАР): ПОИСК */
  .search-form__btn:hover svg {
    transform: rotate(-360deg);
  }

  /* СЕКЦИЯ (САЙДБАР): ТЕГИ */
  .tags__link:hover {
    background: var(--color-border);
  }

  /* СЕКЦИЯ: НАШИ ИЗДЕЛИЯ */
  .goods__item {
    max-width: 347px;
  }

  .goods__link:hover {
    text-decoration: underline;
  }

  /* СЕКЦИЯ: ФУТЕР */
  .social-media__link:hover .social-media__icon {
    fill: var(--color-accent);
    transform: rotate(-360deg);
  }

  .footer__copy {
    margin-top: 70px;
  }
}

@media (min-width: 1440px) {
  .trends__list {
    flex-wrap: nowrap;
  }
}